@import "leaflet/dist/leaflet.css";


:root {
  --doradoOsc: #bc955b;
  --doradoClr: #DEC9A3;
  --VinoNegro: #3A1420;
  --vinoOsc: #691B32;
  --vinoClr: #A02142;
  --grisOsc: #707271;
  --grisClr: #98989a;
  --blanco: #F5F3F5;
  --vinoGradient: linear-gradient(-45deg, var(--vinoOsc), var(--vinoClr));
  --doradoGradient: linear-gradient(-45deg, var(--doradoOsc), var(--doradoClr));
  --grisGradient: linear-gradient(-45deg, var(--grisClr), var(--blanco));

  --track-h: 10px;
  --thumb: 18px;
  --thumb-shadow: 0 2px 6px rgba(0, 0, 0, .2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body,
#__next {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: var(--grisGradient);
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#map {
  height: 100%;
  width: 100%;
  z-index: 10;
  border-radius: 2.3rem 0 0 2.3rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}


.PopupT {
  text-align: center;
  font-weight: 900;
  margin-bottom: 4px;
  color: var(--blanco);
  background-color: var(--vinoClr);
}

.PopupSubT {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
  color: var(--doradoOsc);
}

.PopText {
  display: inline;
}

.leaflet-interactive.epz-3d {
  filter: drop-shadow(0.5px 0.5px 0 rgba(0, 0, 0, .35));
}

.leaflet-popup-content {
  max-height: 35vh;
  overflow-y: auto;
}
